{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Active Markets</h1>

<table border="1">
<tr>
    <th>Description</th>
    <th>Date Started</th>
    <th>Date Due</th>
    <th>Current Funds</th>
</tr>

{% if markets %}
    {% for m in markets %}
    <tr>
        <td><a href="{% url 'markets:market' m.id %}">{{ m.description }}</a></td>
        <td>{{ m.challenge_start }}</td>
        <td><a data-tool="???" ticks="{{m.challenge_end_ticks}}" class="tooltip bottom" name="countdown">
            {{ m.challenge_end }}
        </a></td>
        <td>NYI</td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="3" align="center">No markets.</td>
    </tr>
{% endif %}
</table>
<script src="{% static "countdown.js" %}"></script> 
<script>
    var tips = $("[name=countdown]")
    function update_t_left() {
        var now = new Date().getTime();
        
        for (i = 0; i < tips.length; ++i) {
            var t = tips[i];
            var expire = new Date(parseInt(t.getAttribute("ticks"))).getTime();
            
            var str = getTimeSpanString(now, expire)

            t.setAttribute("data-tool", str + " left")

        }
    }

    update_t_left()
    setInterval(update_t_left, 1000);
</script>

{% endblock %}