{% extends "base.html" %}

{% block content %}

<h1>Active Markets</h1>

<table border="1">
<tr>
    <th>Description</th>
    <th>Date Started</th>
    <th>Date Due</th>
    <th>Current Funds</th>
</tr>

{% if markets %}
    {% for m in markets %}
    <tr>
        <td><a href="{% url 'markets:market' m.id %}">{{ m.description }}</a></td>
        <td>{{ m.challenge_start }}</td>
        <td><a data-tool="???" ticks="{{m.challenge_end_ticks}}" class="tooltip bottom" name="countdown">
            {{ m.challenge_end }}
        </a></td>
        <td>NYI</td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="3" align="center">No markets.</td>
    </tr>
{% endif %}
</table>

<script>
    var tips = $("[name=countdown]")
    function update_t_left() {
        var now = new Date().getTime();
        
        for (i = 0; i < tips.length; ++i) {
            var t = tips[i];
            var expire = new Date(parseInt(t.getAttribute("ticks"))).getTime();
            if(expire < now) expire = now;
            var t_left = (expire - now) / 1000;

            var seconds = Math.floor(t_left % 60);
            t_left = t_left / 60;
            var minutes = Math.floor(t_left % 60);
            t_left = t_left / 60;
            var hours = Math.floor(t_left % 24);
            t_left = t_left / 24;
            var days = Math.floor(t_left);
            var str = "" + days + " days, " + hours + ":" + minutes + ":" + seconds + " left";

            t.setAttribute("data-tool", str)

            var str2 = str + str
        }
    }

    update_t_left()
    setInterval(update_t_left, 1000);
</script>

{% endblock %}