{% extends "base.html" %}

{% block content %}

<h1>{{ form.market.description }}</h1>

{# Check whether the user has an account for this market. #}
{% if form.market_active %}

    {% if form.account == None %}
        {% include "market/join.html" %}
    {% else %}
        <p>Your current bank is {{ form.account.funds }} credits. </p>


        {# betting form #}
        <div class="content_item">{% include "forms/bet_multi.html" %}</div>
        <div class="content_item">{% include "forms/view_orders.html" %}</div>
    {% endif %}
{% else %}
    This market is currently inactive. 
{% endif %}



{% endblock %}