#market-tab-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style-type: none;
}


#market-tab-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}
#market-tab-menu .current a {
    color: #2e7da3;
}

#market-tab-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}
#market-tab-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.market-tabs {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.market-tab {
    width: auto;
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;
}