
    <form action="{% url 'markets:market' form.market.id %}" method="post">
    {% csrf_token %}
        
    <h2>New order:</h2>
    {# possible outcomes #}
    <p>
        <table border="1" id="outcome_table">
            <tr>
                <th>Event</th>
                <th colspan="99">Outcomes</th>
            </tr>
        {% for e in form.events %}
            <tr>
                <th rowspan="2">
                    {{ e.0 }}
                </th>
                {% for o in e.1 %}
                    <td>
                        {{ o.name }} 
                        <br/>
                        S: <b>{{o.current_price}}</b>
                        <br/>
                        <input type="number" id="{{o.id}}" name="pos_{{o.id}}" class="amount" value="0" oninput="validate_amounts()"/>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        {# Total cost approximation #}
        <tr>
            <th colspan="1">Estimated cost:</th>
            <td><input type="text" name="total_cost" value="0" readonly/></td>
        </tr>
        </table>
        <label class="error">{{ form.errors.claim }}</label>
    </p>


    {# bet button #}
    <p>
        <input type="submit" value="Place an order" />
    </p>    


    {# js verification #}
    <script>
        var funds = {{ form.account.funds }}
        var prices = {{ form.prices|safe }}
    </script>
    <script>
        var btn_outcomes = $(".outcome")
        var btn_amounts = $('.amount')
        var btn_cost = $("[name=total_cost]")[0]
        var place_order = $("[type=submit]")[0]
        validate_amounts()

        function validate_amounts() {
            var sum = 0;
            for (i = 0; i < btn_amounts.length; ++i) {
                var a = btn_amounts[i];
                if(a.value == "")
                    a.value = "0";
                else
                    sum += parseFloat(a.value) * prices[a.id];
            }
            btn_cost.value = sum
            if(btn_cost.value == 0)
                place_order.setCustomValidity("Please bet something!")
            else
                place_order.setCustomValidity("")
        }
        //validate_claims()
    </script>

    </form>