
{% if form.market_active %}
    
    <form action="{% url 'markets:market' form.market.id %}" method="post">
    {% csrf_token %}
        
    <h2>New order:</h2>
    {# possible outcomes #}
    <p>
        <table border="1" id="outcome_table">
            <tr>
                <th>Event</th>
                <th colspan="99">Outcomes</th>
            </tr>
        {% for e in form.events %}
            <tr>
                <th rowspan="2">
                    {{ e.0 }}
                </th>
                {% for od in e.1 %}
                    <td>
                        {{ od.outcome.name }} 
                        <br/>
                        <a data-tool="{{od.outcome.price_tooltip}}" class="tooltip bottom" name="outcome_info">
                        B: <b>{{od.outcome.buy_offer}}</b>
                        S: <b>{{od.outcome.sell_offer}}</b>
                        </a>
                        <br/>
                        CUR: {{od.amount}}
                        <br/>
                        <input type="number" id="{{od.outcome.id}}" name="pos_{{od.outcome.id}}" class="amount" value="0" oninput="validate_amounts()"/>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        {# Total cost approximation #}
        <tr>
            <th colspan="1">Estimated cost:</th>
            <td><input type="text" name="total_cost" value="0"/></td>
        </tr>
        </table>
        <label class="error">{{ form.errors.claim }}</label>
    </p>

        
    <p>
        {# bet button #}
        <input type="submit" value="Place an order" />
        {# quote button #}
        <input type="submit" value="Request a quote" />
    </p>    


    {# js verification #}
    <script>
        var funds = {{ form.account.funds }}
        var prices = {{ form.prices|safe }}
    </script>
    <script>
        var btn_outcomes = $(".outcome")
        var btn_amounts = $('.amount')
        var btn_cost = $("[name=total_cost]")[0]
        var place_order = $("[type=submit]")[0]
        validate_amounts()

        function validate_amounts() {
            var sum = 0;
            var all_empty = true;
            for (i = 0; i < btn_amounts.length; ++i) {
                var a = btn_amounts[i];
                var amount = parseFloat(a.value);
                if(amount != 0)
                    all_empty = false;
                sum += amount * prices[a.id];
            }
            btn_cost.value = sum
            if(all_empty)
                place_order.setCustomValidity("Please bet something!")
            else if(sum > funds)
                place_order.setCustomValidity("You won't have enough funds!")
            else
                place_order.setCustomValidity("")
        }
        //validate_claims()
    </script>

    </form>
{% endif %}